<table width="954" border="0" align="center" cellpadding="0" cellspacing="0" class="container">
  <tr>
    <td align="left" valign="top" style="display:block;" id ="menu">
    	<table width="100%">
    		<tr>
    			<td width="150">
    			</td>
    			<td>
			    	<ul id="menu">
			    		<li><a href="/">首页</a></li>
			    		<li><a href="/product">产品介绍</a></li>
			    		<li><a href="/service">服务支持</a></li>
			    		<li><a href="/download">资料下载</a></li>
			    		<li><a href="/faq">常见问题</a></li>
			    		<li><a href="/about">关于我们</a></li>
			    	</ul>
    	    </td>
    	    <td align="right" style="padding-right:10px;">
    	          <b> 业务专线  </b>&nbsp;: 13726206588
    	    </td>
    	 </tr>
    	</table>
    </td>
  </tr>
</table>